<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head xmlns:th="http://www.w3.org/1999/xhtml">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>AdminPage</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/css/page.css}"/>
    <link rel="stylesheet" href="../../static/css/page.css">

</head>

<body>

<header id="top" class="header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-11">
                <span th:text="${userEmail}" class="font-weight-bold"></span>
                with roles:
                <span th:text="${rolesAuth}" id="headerRoles" class="font-weight-bold"></span>
            </div>
            <div class="col-lg-1 text-right">
                <form method="post" action="/logout">
                    <a href="/logout" method="post">Logout</a>
                </form>
            </div>
        </div>
    </div>
</header>

<div>
    <div class="container-fluid">
        <div class="row">
            <div id="nav" class="col-2">
                <div class="nav flex-column nav-pills" role="tablist" aria-orientation="vertical">
                    <a class="nav-link active" data-toggle="pill" href="#AdminMainPage" id="leftNavAdmin" role="tab"
                       aria-controls="AdminMainPage" aria-selected="false">Admin</a>
                    <a class="nav-link" id="nav2" data-toggle="pill" href="#UserMainPage" role="tab"
                       aria-controls="UserMainPage" aria-selected="true">User</a>
                </div>
            </div>
            <main id="panel" class="col-10">

                <div class="tab-content">
                    <div class="tab-pane fade show active" id="AdminMainPage" role="tabpanel" aria-labelledby="nav1">
                        <h1 class="text-left font-weight-bold">Admin panel</h1><br/>
                        <div>
                            <ul class="nav nav-tabs">
                                <li class="nav-item">
                                    <a href="#allUsers" data-toggle="tab" class="nav-link active">Users table</a>
                                </li>
                                <li class="nav-item">
                                    <a href="#addNewUser" data-toggle="tab" class="nav-link">New User</a>
                                </li>
                            </ul>
                        </div>

                        <div class="tab-content">
                            <div class="tab-pane fade show active" id="allUsers">
                                <div class="border">
                                    <h4 class="text-sm-left font-weight-bold pl-4 pt-2 pb-2 mb-0 ">All users</h4>
                                </div>
                                <div class="border">
                                    <table class="table table-striped">
                                        <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>First Name</th>
                                            <th>Last Name</th>
                                            <th>Age</th>
                                            <th>Email</th>
                                            <th>Role</th>
                                            <th>Edit</th>
                                            <th>Delete</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="user : ${users}">
                                            <td th:text="${user.id}"></td>
                                            <td th:text="${user.name}"></td>
                                            <td th:text="${user.lastName}"></td>
                                            <td th:text="${user.age}"></td>
                                            <td th:text="${user.email}"></td>
                                            <td>
                                                <div th:each="role : ${user.roles}" th:text="${role}"></div>
                                            </td>
                                            <td>
                                                <p>
                                                    <button th:data-target="'#editUser' + ${user.id}"
                                                            class="btn btn-info"
                                                            data-toggle="modal">Edit
                                                    </button>
                                                </p>
                                            </td>
                                            <td>
                                                <p>
                                                    <button th:data-target="'#deleteUser' + ${user.id}"
                                                            class="btn btn-danger" data-toggle="modal">Delete
                                                    </button>
                                                </p>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            <div class="tab-pane fade" id="addNewUser">
                                <div class="border">
                                    <h4 class="text-sm-left font-weight-bold pl-4 pt-2 pb-2 mb-0 ">Add user</h4>
                                </div>
                                <div>
                                    <form action="#" id="formAdd" th:action="@{/admin/add}" th:object="${user}"
                                          method="post">
                                        <h5>First name</h5>
                                        <input class="form-control" type="text" th:field="*{name}" id="username"
                                               placeholder="First Name" min="3" max="12" required>
                                        <br/>
                                        <h5>Last name</h5>
                                        <input class="form-control w-200%" type="text" name="lastName"
                                               th:field="*{lastName}"
                                               id="lastName" placeholder="Last Name" min="3" max="12" required><br/>
                                        <h5>Age</h5>
                                        <input class="form-control w-200%" type="number" name="age" th:field="*{age}"
                                               id="age"
                                               placeholder="age" min="0" max="100" required>
                                        <br/>
                                        <h5>Email</h5>
                                        <input class="form-control w-200%" type="email" name="email" th:field="*{email}"
                                               id="email"
                                               placeholder="@yandex.ru" min="3" max="12" required>
                                        <br/>
                                        <h5>Password</h5>
                                        <input class="form-control w-200%" type="password" name="password"
                                               th:field="*{password}"
                                               id="password" placeholder="Password" min="3" max="12" required>
                                        <br/>
                                        <h5>   Role</h5>
                                        <select class="custom-select" name="rolesFromHtml">
                                            <option value="user">User</option>
                                            <option value="admin">Admin</option>
                                            <option value="adminAndUser">Admin + User</option>
                                        </select>
                                        <button id="btnAddSubmit" type="submit" class="btn btn-success btn-lg">Add new
                                            user
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="UserMainPage" role="tabpanel" aria-labelledby="nav2">
                        <h1 class="text-left font-weight-bold">User information-page</h1><br/>
                        <div class="border">
                            <h4 class="text-sm-left font-weight-bold pl-4 pt-2 pb-2 mb-0 ">About user</h4>
                        </div>
                        <div class="border">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th scope="col">ID</th>
                                    <th scope="col">First Name</th>
                                    <th scope="col">Last Name</th>
                                    <th scope="col">Age</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Role</th>
                                </tr>
                                </thead>
                                <tbody>
                                <td th:text="${authUser.id}"></td>
                                <td th:text="${authUser.name}"></td>
                                <td th:text="${authUser.lastName}"></td>
                                <td th:text="${authUser.age}"></td>
                                <td th:text="${authUser.email}"></td>
                                <td>
                                    <div th:each="role : ${authUser.roles}" th:text="${role}"></div>
                                </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </main>

        </div>
    </div>
</div>

<div th:each="user : ${users}">
    <div th:id="'editUser'+${user.id}" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <form action="#" th:action="@{/admin/edit}" th:object="${user}" method="post">

                    <div class="modal-header">
                        <h4 class="modal-title">Edit user</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    </div>

                    <div class="modal-body" id="modalEdit">
                        <h5>id</h5>
                        <input class="form-control" type="text" th:value="${user.id}" name="id" id="idEdit" readonly>
                        <br/>
                        <h5>First name</h5>
                        <input class="form-control" type="text" th:value="${user.name}" name="name"
                               id="firstNameEdit"
                               placeholder="First Name" min="3" max="12" required><br/>
                        <h5>Last name</h5>
                        <input class="form-control" type="text" th:value="${user.lastName}" name="lastName"
                               id="lastNameEdit" placeholder="Last Name" min="3" max="12" required><br/>
                        <h5>Password</h5>
                        <input class="form-control" type="password" th:value="${user.password}" name="password"
                               id="passwordEdit" placeholder="New password" min="3" max="12" required><br/>
                        <h5>Email:</h5>
                        <input class="form-control" type="email" th:value="${user.email}" name="email" id="emailEdit"
                               placeholder="@gmail.ru"><br/>
                        <h5>Age:</h5>
                        <input class="form-control" type="number" th:value="${user.age}" name="age" id="ageEdit"
                               placeholder="age" min="0" max="100" required><br/>
                        <h5>Role:</h5>
                        <select class="custom-select" name="rolesFromHtml">
                            <option value="user">User</option>
                            <option value="admin">Admin</option>
                            <option value="adminAndUser">Admin + User</option>
                        </select>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Edit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div th:each="user : ${users}">
    <div th:id="'deleteUser' + ${user.id}" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <form action="#" th:action="@{/admin/delete/} + ${user.id}" method="post">

                    <div class="modal-header">
                        <h4 class="modal-title">Edit user</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    </div>

                    <div class="modal-body" id="modalDelete">
                        <h5>id</h5>
                        <input class="form-control" type="text" th:field="${user.id}" id="id"
                               th:placeholder="${user.id}" readonly> <br/>
                        <h5>First name</h5>
                        <input class="form-control" type="text" th:placeholder="${user.name}"
                               readonly><br/>
                        <h5>Last name</h5>
                        <input class="form-control" type="text" th:placeholder="${user.lastName}"
                               readonly><br/>
                        <h5>Email:</h5>
                        <input class="form-control" type="text" placeholder="@yandex.ru"
                               readonly><br/>
                        <h5>Age:</h5>
                        <input class="form-control" type="number" th:placeholder="${user.age}" readonly><br/>
                        <select class="custom-select" name="rolesFromHtml">
                            <option value="user">User</option>
                            <option value="admin">Admin</option>
                            <option value="adminAndUser">Admin + User</option>
                        </select>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


</body>
</html>